:root {
  --gradient-green: linear-gradient(135deg, #33D35E 0%, #2AB6D9 100%);;
  --light-green: #30C88F;
  --black: #2D314D;
  --text-color: #9597A5;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25p;
  overflow-x: hidden;
  background-color: #FAFAFA;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61, 0.5);
  opacity: 1;
} */

/* AUTOFILL COLOR STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */


/* BUTTON */
.button {
  display: inline-block;
  padding: 8px 35px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 22px;
  color: #fff;
  background: var(--gradient-green);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  opacity: 0.6;
}
.button:active {
  transform: translateY(2px);
}


/* LOGO */
.logo {
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 139px;
  height: 20px;
  object-fit: contain;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE HEADER */
.site-header {
  position: relative;
  z-index: 50;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: -0.108px;
  color: var(--text-color);
  text-decoration: none;
}

.sitenav__link::after {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--gradient-green);
  content: "";
}

.sitenav__link:hover::after {
  display: block;
}

.sitenav__link:hover {
  color: var(--black);
}


/* HERO */
.hero {
  z-index: 30;
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url("../img/hero-bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 593px) -261px;

}

.hero__content {
  width: 100%;
  max-width: 450px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--black);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  letter-spacing: -0.28;
  font-weight: 400;
  line-height: 28px;
}

.hero__img {
  position: absolute;
  width: 730px;
  height: 900px;
  left: calc(50% + 74px);
  top: -112px;
}









@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* input:not(:focus):not(:placeholder-shown):valid {
  border-color: greenyellow;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:focus + .validation-error,
input:valid + .validation-error,
input:placeholder-shown + .validation-error {
  display: none;
} */